scraping/HTML/
scraping/.DS_Store
scraping/.RData
scraping/.Rhistory
scraping/csv_files/.DS_Store
scraping/.DS_Store
scraping/HTML/20minuten/20231104_aargau-maedchen-gang-verpruegelt-jugendliche-und-prahlt-online-mit-der-tat.html
scraping/HTML/20minuten/20231104_aargau-maedchen-gang-verpruegelt-jugendliche-und-prahlt-online-mit-der-tat.html
scraping/HTML/20minuten/20231104_aargau-maedchen-gang-verpruegelt-jugendliche-und-prahlt-online-mit-der-tat.html
scraping/HTML/20minuti/20231109_visita-di-stato-in-svizzera-per-macron.html
scraping/HTML/20minuti/20231109_verboon-a-lugano-fino-al-2026.html
scraping/HTML/20minuti/20231109_vedeggio-cassarate-chiusa-fino-alle-1700-grave-un-ottantenne.html
scraping/HTML/20minuti/20231109_un-nuovo-veicolo-elettrico-per-il-comune-di-balerna.html
scraping/HTML/20minuti/20231109_un-accordo-per-risolvere-il-conflitto-storico-tra-spagna-e-catalogna.html
scraping/HTML/20minuti/20231109_ubs-chiude-per-sbaglio-nel-caveau-il-proprietario-del-san-carlo-di-lugano.html
scraping/HTML/20minuti/20231109_treni-soppressi-fra-ginevra-e-losanna-normalita-forse-domani.html
scraping/HTML/20minuti/20231109_svizzera-una-nazione-di-affittuari.html
scraping/HTML/20minuti/20231109_successo-importante-per-il-servette.html
scraping/HTML/20minuti/20231109_someo-romeo-gianinazzi-i-calci-piazzati-e-il-mio-rapporto-con-gli-arbitri.html
scraping/HTML/20minuti/20231109_skatepark-mendrisio---si-allo-sport.html
scraping/HTML/20minuti/20231109_sempre-piu-pratiche-digitali-in-seno-alla-polizia-di-lugano.html
scraping/HTML/20minuti/20231109_samsung-lavora-a-un-ia-che-tradurra-in-tempo-reale-le-telefonate.html
scraping/HTML/20minuti/20231109_salvo-altri-shock-i-tassi-non-saliranno-piu.html
scraping/HTML/20minuti/20231109_riscaldamento-ecco-come-stare-al-caldo-senza-spendere-e-consumare-troppo.html
scraping/HTML/20minuti/20231109_riflessioni-sulle-politiche-di-collocamento-il-caso-del-signor-a.html
scraping/HTML/20minuti/20231109_riapre-la-strada-del-bernina.html
scraping/HTML/20minuti/20231109_quelle-240-sedie-vuote-per-ricordare-gli-ostaggi-rapiti-da-hamas.html
scraping/HTML/20minuti/20231109_quando-gaza-sparisce-il-buio-digitale-come-arma.html
scraping/HTML/20minuti/20231109_parlare-e-inutile-meglio-sparare.html
scraping/HTML/20minuti/20231109_odio-contro-gli-ebrei-cassis-e-insopportabile-molti-di-loro-hanno-paura-a-uscire-di-casa.html
scraping/HTML/20minuti/20231109_mingardi-e-i-supercircus-per-il-gala-di-natale.html
scraping/HTML/20minuti/20231109_mi-hai-chiamato-dall-altra-parte-uno-sconosciuto.html
scraping/HTML/20minuti/20231109_maxi-scontro-nella-vedeggio-cassarate.html
scraping/HTML/20minuti/20231109_luoto-a-berna-fino-al-termine-della-stagione.html
scraping/HTML/20minuti/20231109_lugano-sconfitto-2-0-dal-bruges.html
scraping/HTML/20minuti/20231109_locarno-lavertezzo-dopo-aver-smosso-le-acque-ora-difendiamo-il-progetto-per-un-comparto-piu-forte.html
scraping/HTML/20minuti/20231109_lo-spettometro-dell-universita-di-berna-va-sulla-luna.html
scraping/HTML/20minuti/20231109_licenziamenti-alla-suedpack-di-bioggio-fino-a-50-i-posti-a-rischio.html
scraping/HTML/20minuti/20231109_la-svizzera-scivola-all-esordio.html
scraping/HTML/20minuti/20231109_la-svizzera-saluta-la-competizione.html
scraping/HTML/20minuti/20231109_la-svezia-fa-sua-la-prima-sfida-contro-le-elvetiche.html
scraping/HTML/20minuti/20231109_la-bns-deve-sostenere-le-banche-in-caso-di-necessita.html
scraping/HTML/20minuti/20231109_l-arte-che-resiste-alla-guerra.html
scraping/HTML/20minuti/20231109_in-sella-a-una-bici-fino-al-lago-di-ledro.html
scraping/HTML/20minuti/20231109_il-titolo-bagnaia-martin-e-non-solo.html
scraping/HTML/20minuti/20231109_il-rigore-generoso-ci-ha-un-po--tagliato-le-gambe.html
scraping/HTML/20minuti/20231109_il-prix-courage-2023-va-alla-guida-alpina-che-salvo-lo-sciatore.html
scraping/HTML/20minuti/20231109_il-nuovo-volto-dell-aeroporto-di-zurigo-sara-cosi.html
scraping/HTML/20minuti/20231109_il-dono-di-berset-al-papa.html
scraping/HTML/20minuti/20231109_il-dialogo-usa-cina-riparte-dal-clima.html
scraping/HTML/20minuti/20231109_il-30-all-ora-va-generalizzato-all-interno-delle-localita.html
scraping/HTML/20minuti/20231109_gaza-nella-morsa-delle-malattie-infettive.html
scraping/HTML/20minuti/20231109_ente-pubblico-e-aziende-unite-per-affrontare-le-nuove-sfide.html
scraping/HTML/20minuti/20231109_due-nuovi-francobolli-a-tema-disney-e-cinque-per-natale.html
scraping/HTML/20minuti/20231109_direttore-di-una-scuola-privata-indagato-per-reati-finanziari.html
scraping/HTML/20minuti/20231109_deterioramento-stradale-a-lugano-sicurezza-a-rischio.html
scraping/HTML/20minuti/20231109_carenza-di-operai-comunali-o-speculazioni.html
scraping/HTML/20minuti/20231109_carenza-di-docenti-in-molti-cantoni-lanciato-piano-d-azione.html
scraping/HTML/20minuti/20231109_barin-fecchio-e-l-i-drive-racing-team-fa-festa.html
scraping/HTML/20minuti/20231109_attentato-a-madrid-sparano-in-faccia-al-fondatore-di-vox.html
scraping/HTML/20minuti/20231109_alessandro-carollo-fa-la-dichiarazione-social-a-michelle-hunziker.html
scraping/HTML/20minuti/20231109_accordi-bilaterali-aria-di-disgelo-tra-berna-e-bruxelles.html
scraping/HTML/20minuti/20231109_a2-campaccio-terminati-i-lavori-sulla-carreggiata-nord-sud.html
scraping/HTML/20minuti/20231109_a-basilea-una-mostra-un-po--ticinese-su-caravaggio.html
scraping/HTML/20minuti/20231109_65-coltellate-alla-compagna-vent-anni-all-assassino-di-emmenbruecke.html
scraping/HTML/20minuti/20231109_500-uccelli-illegalmente-in-gabbia.html
scraping/HTML/20minuti/20231106_una-giornata-di-tregua-ma-sta-per-tornare-il-maltempo.html
scraping/HTML/20minuti/20231106_un-supereroe-per-non-farsi-male-sui-bus.html
scraping/HTML/20minuti/20231106_un-pesce-robot-allo-swiss-robotics-day-2023.html
scraping/HTML/20minuti/20231106_trasporti-spesi-in-un-anno-11-000-franchi-a-testa-per-muoversi.html
scraping/HTML/20minuti/20231106_svaligiata-una-gioielleria-ladri-in-fuga.html
scraping/HTML/20minuti/20231106_skate-park-mendrisio-sono-una-mamma-contraria.html
scraping/HTML/20minuti/20231106_si-schianta-in-moto-morto-un-34enne.html
scraping/HTML/20minuti/20231106_si-ribalta-con-la-canoa-muore-un-75enne.html
scraping/HTML/20minuti/20231106_si-appendono-alla-ruota-sospesa-che-si-stacca-e-travolge-due-persone.html
scraping/HTML/20minuti/20231106_scomparso-da-una-settimana-da-cadro-si-cerca-un-ragazzo-di-20-anni.html
scraping/HTML/20minuti/20231106_sanremo-marco-mengoni-co-conduttore-della-prima-serata.html
scraping/HTML/20minuti/20231106_sandro-mai-tra-spensieratezza-e-nostalgia.html
scraping/HTML/20minuti/20231106_prolungata-l-allerta-piena-per-il-lago-di-lugano.html
scraping/HTML/20minuti/20231106_pizzicato-mentre-vendeva-droga-a-ponte-chiasso-pusher-risarcito-per-17mila-euro.html
scraping/HTML/20minuti/20231106_pio-e-amedeo-a-lugano-lo-spettacolo-e-rinviato-a-febbraio-2024.html
scraping/HTML/20minuti/20231106_onu-sotto-accusa-non-riesce-a-garantire-la-pace.html
scraping/HTML/20minuti/20231106_nussbaumer-con-la-svizzera-per-la-karjala-cup.html
scraping/HTML/20minuti/20231106_non-aspettare-la-neve-per-rendere-il-tuo-veicolo-piu-sicuro.html
scraping/HTML/20minuti/20231106_niente-bis-per-il-lugano-bellinzona-in-crescita.html
scraping/HTML/20minuti/20231106_natale-ecco-tutte-le-aperture-straordinarie-dei-negozi.html
scraping/HTML/20minuti/20231106_miss-mamma-ticino-nel-backstage-con-i-parrucchieri-hairlovers.html
scraping/HTML/20minuti/20231106_lo-spettacolo-delle-aurore-boreali-nel-cielo-svizzero.html
scraping/HTML/20minuti/20231106_la-barca-elettrica-da-record-183-kmh.html
scraping/HTML/20minuti/20231106_l-iran-ai-brics-fermate-israele-sottomarino-usa-schierato-nel-mediterraneo.html
scraping/HTML/20minuti/20231106_l-ambri-con-il-morale-alle-stelle-il-lugano-a-corto-di-fiato.html
scraping/HTML/20minuti/20231106_il-segreto-per-un-matrimonio-felice-svelato-sul-palcoscenico-del-lac.html
scraping/HTML/20minuti/20231106_il-papa-non-sto-bene-di-salute.html
scraping/HTML/20minuti/20231106_i-dottor-sogni-cosi-portiamo-il-sorriso-tra-i-bimbi-in-ospedale.html
scraping/HTML/20minuti/20231106_hildebrand-il-dr-paolo-rossi-nominato-primario.html
scraping/HTML/20minuti/20231106_fanno-esplodere-un-bancomat-e-scappano-con-il-denaro.html
scraping/HTML/20minuti/20231106_energia-neanche-quest-anno-ci-sara-il-rischio-di-rimanere-a-corto.html
scraping/HTML/20minuti/20231106_elisabeth-baume-schneider-e-arrivata-a-chiasso.html
scraping/HTML/20minuti/20231106_due-giornate-per-promuovere-la-donazione-di-sangue.html
scraping/HTML/20minuti/20231106_droga-al-parco-ciani-spunta-l-idea-della-stanza-del-buco.html
scraping/HTML/20minuti/20231106_donald-trump-sta-elaborando-un-piano-per-vendicarsi.html
scraping/HTML/20minuti/20231106_condizioni-migliori-nei-centri-per-richiedenti-asilo-e-non-di-semi-detenzione.html
scraping/HTML/20minuti/20231106_capodieci-con-tognazzi-foglietta-e-rossi-stuart.html
scraping/HTML/20minuti/20231106_caccia-alle-streghe-oltre-2mila-vittime-ma-nessun-monumento.html
scraping/HTML/20minuti/20231106_biennale-con-lo-zugo-per-kuenzle.html
scraping/HTML/20minuti/20231106_albanese-a-pechino-tra-tensioni-strategiche-e-progressi-commerciali.html
scraping/HTML/20minuti/20231106_a-chiasso-un-nuovo-centro-estetico-anzi-molto-di-piu.html
scraping/HTML/20minuti/20231105_una-collezione-caratterizzata-da-tagli-e-dettagli-di-grande-importanza.html
scraping/HTML/20minuti/20231105_un-tuffo-nella-natura-al-centro-commerciale-un-po--di-bobosco-a-tenero.html
scraping/HTML/20minuti/20231105_un-domingos-di-bufere-con-neve-e-venti-a-140-chilometri-all-ora.html
scraping/HTML/20minuti/20231105_un-concerto-da-non-perdere-joey-calderazzo-al-jazz-cat-club.html
scraping/HTML/20minuti/20231105_tratta-esseri-umani-svizzera-lassista.html
scraping/HTML/20minuti/20231105_terremoto-concluse-le-operazioni-di-ricerca.html
scraping/HTML/20minuti/20231105_tensioni-nella-comunita-interreligiosa-svizzera.html
scraping/HTML/20minuti/20231105_shaqiri-al-lavoro-sotto-gli-ordini-del-crus.html
scraping/HTML/20minuti/20231105_sequestro-ad-amburgo-contatto-visivo-con-la-bambina-l-uomo-potrebbe-essere-in-possesso-di-esplosivi.html
scraping/HTML/20minuti/20231105_secondo-successo-stagionale-per-il-basilea.html
scraping/HTML/20minuti/20231105_sciopero-di-hollywood-c-e-il-prendere-o-lasciare-degli-studios.html
scraping/HTML/20minuti/20231105_salite-ai-piani-alti-delle-case-non-scendete-assolutamente-in-strada.html
scraping/HTML/20minuti/20231105_ritrovata-una-persona-senza-vita-sulle-rive-della-limmat.html
scraping/HTML/20minuti/20231105_risoluzione-onu-tutti-contro-cassis.html
scraping/HTML/20minuti/20231105_referendum-skate-park-mendrisio-l-ora-della-verita.html
scraping/HTML/20minuti/20231105_rapisce-la-figlia-bloccato-l-aeroporto-di-amburgo.html
scraping/HTML/20minuti/20231105_quelle-strane-malattie-che-hanno-colpito-gli-artiglieri-anti-isis.html
scraping/HTML/20minuti/20231105_polizia-ambulanza-e-rega-sul-ponte-sulla-maggia.html
scraping/HTML/20minuti/20231105_pista-ciclopedonale-via-monte-gaggio-via-vallone-quando.html
scraping/HTML/20minuti/20231105_pioggia-avvelenata-dallo-ioduro-d-argento-quali-verifiche-nel-nostro-cantone.html
scraping/HTML/20minuti/20231105_marquez-il-migliore-sulla-moto-migliore.html
scraping/HTML/20minuti/20231105_lukaku-e-azmoun-capovolgono-il-lecce-nei-recuperi.html
scraping/HTML/20minuti/20231105_lugano-malamente-battuto.html
scraping/HTML/20minuti/20231105_le-forze-israeliane-ora-c-e-gaza-nord-e-gaza-sud.html
scraping/HTML/20minuti/20231105_la-storica-battitura-della-castagna.html
scraping/HTML/20minuti/20231105_l-aeroporto-di-amburgo-e-tornato-alla-normalita.html
scraping/HTML/20minuti/20231105_incidente-mortale-sulla-a1-la-vittima-e-un-uomo-di-66-anni.html
scraping/HTML/20minuti/20231105_in-arrivo-una-soluzione-per-le-72-persone-che-perderanno-il-lavoro.html
scraping/HTML/20minuti/20231105_il-figlio-15enne-di-kadyrov-a-capo-del-servizio-di-sicurezza-ceceno.html
scraping/HTML/20minuti/20231105_il-consigliere-federale-roesti-vuole-ridurre-il-canone-ssr-a-300-franchi.html
scraping/HTML/20minuti/20231105_gli-uomini-non-devono-preoccuparsi.html
scraping/HTML/20minuti/20231105_gli-attacchi-antisemiti-in-europa-hanno-raggiunto-livelli-straordinari.html
scraping/HTML/20minuti/20231105_firenze-espugnata-la-juventus-insegue-l-inter.html
scraping/HTML/20minuti/20231105_fermato-con-6-chili-di-cocaina-all-aeroporto-50enne-in-manette.html
scraping/HTML/20minuti/20231105_ennesimo-successo-per-max-la-gara-di-leclerc-non-e-mai-cominciata.html
scraping/HTML/20minuti/20231105_egitto-addio-i-turisti-svizzeri-annullano-i-loro-viaggi.html
scraping/HTML/20minuti/20231105_ecco-la-prima-neve-arrivederci-al-2024.html
scraping/HTML/20minuti/20231105_djokovic-piega-dimitrov-e-trionfa-per-la-settima-volta-a-parigi-bercy.html
scraping/HTML/20minuti/20231105_colpita-una-nave-russa-in-crimea.html
scraping/HTML/20minuti/20231105_c-e-qualcosa-in-mezzo-al-buio.html
scraping/HTML/20minuti/20231105_bellinzona-sconfitto-dal-sion.html
scraping/HTML/20minuti/20231105_bella-vittoria-per-i-tigers.html
scraping/HTML/20minuti/20231105_aveva-un-trucco-per-parcheggiare-gratuitamente-ma-era-illegale.html
scraping/HTML/20minuti/20231105_applewatch-serie-9-il-primo-carbon-neutral-ma-non-solo.html
scraping/HTML/20minuti/20231105_aperta-procedura-ordinaria-contro-frehner.html
scraping/HTML/20minuti/20231105_ansia-per-pavard-gli-e-uscita-la-rotula.html
scraping/HTML/20minuti/20231105_amburgo-il-sequestratore-era-recidivo.html
scraping/HTML/20minuti/20231105_aeroporto-di-amburgo-l-uomo-e-stato-arrestato.html
scraping/HTML/20minuti/20231105_abusi-sessuali-ex-vicario-minacciato-di-morte.html
scraping/HTML/20minuti/20231104_vince-sempre-lui-verstappen-sul-gradino-piu-alto-del-podio.html
scraping/HTML/20minuti/20231104_vince-anche-quando-non-e-il-piu-veloce.html
scraping/HTML/20minuti/20231104_vento-pericolo-marcato-a-nord-delle-alpi.html
scraping/HTML/20minuti/20231104_va-alla-toilette-pubblica-e-viene-aggredito-e-derubato.html
scraping/HTML/20minuti/20231104_una-vettura-distrutta-dalle-fiamme-sull-a2.html
scraping/HTML/20minuti/20231104_sisma-il-bilancio-si-aggrava-i-morti-sono-almeno-157.html
scraping/HTML/20minuti/20231104_scontri-tra-tifoserie-dopo-kloten-zsc-tre-arresti.html
scraping/HTML/20minuti/20231104_sconfitta-amara-per-il-milan.html
scraping/HTML/20minuti/20231104_principio-d-incendio-in-un-bb-arrivano-i-pompieri.html
scraping/HTML/20minuti/20231104_piazza-federale-in-migliaia-manifestano-per-gaza.html
scraping/HTML/20minuti/20231104_patate-raccolto-molto-scarso-quest-anno.html
scraping/HTML/20minuti/20231104_massagno-nuovamente-vittorioso.html
scraping/HTML/20minuti/20231104_maltempo-un-altra-vittima-e-non-e-finita.html
scraping/HTML/20minuti/20231104_lugano-ko-nel-canton-vaud-sorride-il-losanna.html
scraping/HTML/20minuti/20231104_lione-donna-ebrea-pugnalata-in-casa.html
scraping/HTML/20minuti/20231104_lando-norris-partira-davanti-a-tutti-nello-sprint-shootout.html
scraping/HTML/20minuti/20231104_l-inferno-di-gaza-colpite-una-scuola-un-ambulanza-e-la-casa-di-haniyeh.html
scraping/HTML/20minuti/20231104_l-ex-dittatore-camara-liberato-da-un-commando-armato.html
scraping/HTML/20minuti/20231104_kloten-battuto-il-lugano-torna-al-successo.html
scraping/HTML/20minuti/20231104_fumo-dal-vano-motore-si-spaventa-ed-esce-di-strada.html
scraping/HTML/20minuti/20231104_ferrovia-retica-circolazione-bloccata-tra-poschiavo-e-tirano.html
scraping/HTML/20minuti/20231104_e-morta-marina-cicogna.html
scraping/HTML/20minuti/20231104_cinismo-e-maturita-l-ambri-si-muove-da-grande.html
scraping/HTML/20minuti/20231104_caro-affitti-zurigo-scende-in-strada.html
scraping/HTML/20minuti/20231104_bellinzona-rockets-infilzati-dall-hcv-martigny.html
scraping/HTML/20minuti/20231104_ancora-un-sigillo-per-l-inter.html
